
        <footer class="page-footer pink lighten-5">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h3 class="grey-text">Contact Us</h3>
                  <p class="grey-text text-darken-3"></p>
                  <ul class="grey-text text-darken-3">Our locations:
                    <li class="grey-text text-darken-3">Yoga Shala: </li>
                    <li class="grey-text text-darken-3">Yoga For You: </li>
                  </ul>
                </div>
                <div class="col l2  s12">
                  <h3 class="grey-text">Connect with Us</h3>
                  <ul>
                  <li>
                    <a href="https://twitter.com" class="fa fa-twitter" style="font-size:36px;background: #55ACEE;color:white"></a>
                  </li>
                </ul>
                <ul>
                  <li> <a href="https://www.facebook.com" class="fa fa-facebook" style="font-size:32px; background: #3B5998;color: white;"></a></li> 
                </ul>
                <ul>
                  <li> <a href="https://www.google.com" class="fa fa-google" style="font-size:32px;  background: #dd4b39;color: white;"></a></li> 
                  </ul>
                </div>
                <div class="col l4  s12">
                  <h3 class="grey-text">Links</h3>
                  <ul>
                    <li><a class="grey-text text-darken-3" href="/">Home</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/login">Login</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/signup"> Sign Up</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container grey-text text-darken-1">
              © 2020 Copyright RS
              <a class="grey-text text-darken-1 right" href="#!">GitHub repo</a>
              </div>
            </div>
          </footer>

  