
        <footer class="page-footer pink lighten-5">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="grey-text">Footer Content</h5>
                  <p class="grey-text text-darken-3">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="grey-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-darken-3" href="/">Home</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/login">Login</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/signup"> Sign Up</a></li>
                    <li><a class="grey-text text-darken-3" href="/auth/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container grey-text text-darken-1">
              © 2020 Copyright RS
              <a class="grey-text text-darken-1 right" href="#!">GitHub repo</a>
              </div>
            </div>
          </footer>

      <!--     <footer class="w3-center w3-light-grey w3-padding-32">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
          </footer> -->