<nav>
   
    <div class="nav-wrapper pink lighten-5">
      <a class="grey-text text-darken-1" href="/" class="brand-logo"> <strong> Yoga Shala </strong></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
     </a>
    
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a class="grey-text text-darken-3" href="/">Home</a>
        </li>
        <li>
            <a class="grey-text text-darken-3" href="/class/schedule">Class Schedule</a>
        </li>
         <%if (user) {  %>
                <li>
                    <strong> Hi, <%=user.firstname%></strong> 
                </li>
               
                <% if (user.admin) { %>
                    <li>
                        <a class="grey-text text-darken-3" href="/profile/admin">Admin Page</a>
                    </li>
                    <li>
                        <a class="grey-text text-darken-3" href="/class/new">Add New Class</a>
                    </li>
                    <li>
                        <a class="grey-text text-darken-3" href="/class/show">Show All Classes</a>
                    </li>
                <% } else { %> 
                    <li>
                        <a class="grey-text text-darken-3" href="/profile/user">Profile Page</a>
                    </li>
                <% } %>   
                <li>
                    <a class="grey-text text-darken-3" href="/auth/logout">Logout</a>
                    
                </li>
         <% } else { %>     
                <li>
                    <a class="grey-text text-darken-3" href="/auth/login">Login</a>
                </li>
                <li>
                    <a class="grey-text text-darken-3" href="/auth/signup">Sign Up</a>
                </li>
        <% } %> 
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
        <a class="grey-text text-darken-3" href="/">Home</a>
    </li>
    <li>
        <a class="grey-text text-darken-3" href="/class/schedule">Class Schedule</a>
    </li>
    <%if (user) {  %>
            <% if (user.admin) { %>
                <li>
                    <a class="grey-text text-darken-3" href="/profile/admin">Admin Page</a>
                </li>
                <li>
                    <a class="grey-text text-darken-3" href="/class/new">Add New Class</a>
                </li>
                <li>
                    <a class="grey-text text-darken-3" href="/class/show">Show All Classes</a>
                </li>
            <% } else {%> 
                <li>
                    <a class="grey-text text-darken-3" href="/profile/user">Profile Page</a>
                </li>
            <% } %>     
            <li>
                <a class="grey-text text-darken-3" href="/auth/logout">Logout</a>
            </li>
     <% } else { %>     
            <li>
                <a class="grey-text text-darken-3" href="/auth/login">Login</a>
            </li>
            <li>
                <a class="grey-text text-darken-3" href="/auth/signup">Sign Up</a>
            </li>
    <% } %> 
  </ul>
         
   


